<div class="product-content">
    <% clothes.forEach(clothing=> { %>
        <a href="/products/<%= clothing.id %>">
            <div class="product-card">
                <div class="product-image-container">
                <i class="fa fa-heart"></i>
                <div class="product-image">
                <img src="<%= clothing.imageUrl %>" alt="<%= clothing.name %>">
                </div>
                </div>
                <div class="product-info">
                    <h3 class="product-name">
                        <%= clothing.name %>
                    </h3>
                    <h3 class="product-price">
                        €<%= clothing.price %>
                    </h3>
                </div>
                <p class="product-brand">
                    <%= clothing.brand %>
                </p>
            </div>
        </a>
        <% }) %>
</div>