<div class="detail-card">
    <img src="<%= clothing.imageUrl %>" alt="<%= clothing.name %>" class="detail-image">
    <div class="detail-info">
        <h1 class="detail-name">
            <%= clothing.name %>
                </h3>
                <p class="detail-brand"><%= clothing.brand %></p>
                <p>
                    <%= clothing.description %>
                </p>
                <h3 class="detail-price">€<%= clothing.price %>
                </h3>
                <button class="detail-button">Add to cart</button>
    </div>
</div>
<div class="similar-products">
    <h2>Similar Products</h2>
    <div class="similar-content">
        <% clothes.slice(0,3).forEach(clothing=> { %>
            <a href="/products/<%= clothing.id %>">
                <div class="product-card">
                    <span class="product-heart"><i class="fa fa-heart"></i></span>
                    <img src="<%= clothing.imageUrl %>" alt="<%= clothing.name %>" class="product-image">
                    <div class="product-info">
                        <h3 class="product-name">
                            <%= clothing.name %>
                        </h3>
                        <h3 class="product-price">
                            €<%= clothing.price %>
                        </h3>
                    </div>
                    <p class="product-brand">
                        <%= clothing.brand %>
                    </p>
                </div>
            </a>
            <% }) %>
    </div>
</div>